:global(body) {
    margin: 0;
    background-color: var(--mud-palette-background);
}

.main-content {
    min-height: calc(100vh - 64px);
    background-color: var(--mud-palette-background-grey);
}

@media (max-width: 600px) {
    .main-content {
        padding: 1rem !important;
    }
}
