:global(.mud-navmenu) {
    padding: 0.5rem 0;
}

:global(.mud-nav-link) {
    border-radius: 0 24px 24px 0;
    margin-right: 0.75rem;
}

:global(.mud-nav-link.active) {
    background-color: rgba(79, 70, 229, 0.2);
    color: var(--mud-palette-primary);
}
